/*
http://dam.org/artists/phase-one/vera-molnar/artworks-bodies-of-work/-des-ordres
http://www.dam.org/mix/molnar-desordres-3--dam-12365-IY8v6-de-2.jpg
 */
@supports (background: paint(_)) {
  :host {
    background: whitesmoke;
    border: 0.20625rem solid transparent;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  div {
    --cell-fill-style: transparent;

    background-image: paint(quad), paint(quad), paint(quad), paint(quad), paint(quad), paint(quad);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%, 88%, 76%, 64%, 52%, 40%;
    margin: -0.4125rem;
  }

  div:nth-child(2n + 1) {
    background-size: 100%, 88%, 64%, 52%, 24%, 12%;
  }

  div:nth-child(3n + 2) {
    background-size: 100%, 88%, 76%, 0, 52%, 40%;
  }

  div:nth-child(5n + 3) {
    background-size: 100%, 88%, 76%, 64%, 40%, 12%;
  }

  div:nth-child(7n + 5) {
    background-size: 100%, 88%, 76%, 0, 40%, 12%;
  }

  div:nth-child(11n + 7) {
    background-size: 96%, 82%, 70%, 40%, 0, 0;
  }

  div:nth-child(13n + 11) {
    background-size: 100%, 88%, 76%, 0, 0, 12%;
  }

  div:nth-child(17n + 13) {
    background-size: 96%, 82%, 0, 52%, 40%, 0;
  }
}
